@use '../variables' as *;



.types {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    column-gap: 30px;
    row-gap: 50px;
}

.text.h1 {
    width: 336px;
}

.text.h2 {
    width: 282px;
}

.text.h3 {
    width: 186px;
}

.text.body {
    width: 301px;
}

.types > .tag {
    text-align: right;
    color: $dark-shade-25;
    font-family: 'Montserrat', sans-serif;
}

.tag.-h1 {
    font-size: $font-size-h1;
}

.tag.-h2 {
    font-size: $font-size-h2;
    line-height: 15px; // PP: Figure out manually equivalent auto;
}

.tag.-h3 {
    font-size: $font-size-h3;
}

