@use '../variables' as *;

$section-margin: 126px;

.form-elements {
    padding-left: 141px;
    padding-top: 140px;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

// Bootstrap do thing like this. I don't know why.
// SO answer do invert https://stackoverflow.com/a/20653092.
.form-elements {
    margin-left: $section-margin/2 * -1;
    margin-right: $section-margin/2 * -1;
}

.form-section {
    padding-left: $section-margin/2;
    padding-right: $section-margin/2;
}

// Chrome declarate support, but does not have
// @supports (display: flex) and (column-gap: 1px) {
//     .form-elements {
//         column-gap: $section-margin;
//         margin: 0;
//     }
//     .form-section {
//         padding: 0;
//     }
// }

.form-section {
    flex-basis: 320px + $section-margin;
    // width: 320px;
    width: 100%;
}

.form-section:last-child {
    margin-right: 0;
}

.form-group {
    margin-bottom: 40px;
}

.form-item {
    margin-bottom: 20px;
}

.form-text-field > label, .form-dropdown > label, .from-date-dropdown > label, .form-date-filter-dropdown > label, .form-subscription-input > label {

}

.form-text-field .input-marker, .form-dropdown .input-marker {

}

.form-text-field input, .form-dropdown select, .from-date-dropdown select, .form-date-filter-dropdown select, .form-subscription-input input {

}

.form-text-field input::placeholder, .form-subscription-input input::placeholder {

}

.form-text-field.hover-focus input {
    
}

.form-text-field.hover-focus .input-marker {
    
}

.form-dropdown select, .from-date-dropdown select, .form-date-filter-dropdown select {

}

.form-subscription-input input {

}

.form-item-horizontal {
    display: flex;
    /* emulate gap */
    margin-left: -20px;
}

.form-item-horizontal > * {
    /* emulate gap */
    margin-left: 20px;
}
