$dark-shade: #1F2041;
$dark-shade-75: #575870; // mix($dark-shade, #fff, 75%) = 575871
$dark-shade-50: #8f8fa0; // mix($dark-shade, #fff, 50%) = 8f90a0
$dark-shade-25: #c7c7cf; // mix($dark-shade, #fff, 25%) = c7c7d0
$dark-shade-5: #f4f4f6; // mix($dark-shade, #fff, 5%) = f4f4f6
$purple: #BC9CFF;
$green: #6FCF97;
