body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #fff;
    position: relative;
}

.form-item label {
    display: block;
}

.form-item input, .form-item select {
    width: 100%;
}

.form-input .input-marker {
    float: right;
}

.form-input input {
    clear: both;
}

.form-section {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: start;
    min-width: 100%;
}

.form-group {
    flex: 0 0 320px;
    width: 320px;
    margin-bottom: 40px;
/*    display: flex;
    flex-direction: row;
*/    margin-right: 126px;
}

.form-item {
    margin-bottom: 20px;
}

