@import 'base';

// * {
//     border: grey dashed 1px;
// }


.color-types {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.colors {
    font-family: 'quicksandlight', sans-serif;
    color: $dark-shade;
    line-height: 1.5;
    font-weight: 500;
}

.color-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.color-pick {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.color-title {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
}

.color-name {
    font-weight: bold;
    font-size: 19px;
}

.color-code {
    font-size: 19px;
}

.dark-shade-100 {
    background-color: $dark-shade;
}

.dark-shade-75 {
    background-color: $dark-shade-75;
}

.dark-shade-50 {
    background-color: $dark-shade-50;
}

.dark-shade-25 {
    background-color: $dark-shade-25;
}

.dark-shade-5 {
    background-color: $dark-shade-5;
}

.purple {
    background-color: $purple;
}

.green {
    background-color: $green;
}

.types {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    row-gap: 50px;
}

.text.h1 {
    width: 336px;
}

.text.h2 {
    width: 282px;
}

.text.h3 {
    width: 186px;
}

.text.-body {
    width: 301px;
}

.types > .tag {
    text-align: right;
    color: $dark-shade-25;
}

.h1 {
    font-family: 'quicksandlight', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.h2 {
    font-family: 'quicksandlight', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12;
    text-transform: uppercase;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    width: 1440px;
    margin: auto;
    background-color: #fff;
    position: relative;
}

* {
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('/assets/logo.svg');
    background-repeat: no-repeat;
    font-size: 0px;
    width: 48px;
    height: 48px;
}

.color-types {
    padding-top: 145px;
    padding-left: 150px;
    margin: 0;
}

.wafer {
    background-image: url('/assets/wafer/Colors & Type.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

