@use 'blocks/ui-kit.scss';
@use 'blocks/colors-type.scss';
@use 'blocks/color-presenter.scss';
@use 'blocks/type-presenter.scss';
@use 'blocks/text-field.scss';
@use 'blocks/label.scss';
@use 'blocks/drop-down.scss';
@use 'blocks/form-field.scss';
@use 'variables' as *;


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size-body;
    line-height: $line-height;
}
