@import 'base';


.color-types {
    font-family: 'Quicksand', sans-serif;
}

.color-pick {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.dark-shade-100 {
    background-color: $dark-shade;
}

.dark-shade-75 {
    background-color: $dark-shade-75;
}

.dark-shade-50 {
    background-color: $dark-shade-50;
}

.dark-shade-25 {
    background-color: $dark-shade-25;
}

.dark-shade-5 {
    background-color: $dark-shade-5;
}

.purple {
    background-color: $purple;
}

.green {
    background-color: $green;
}
