.colors-type {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 1249px;
    justify-content: space-between;
    padding-top: 145px;
    padding-left: 150px;

    &__colors {

    }
    &__type {

    }
}
