@use '../variables' as *;

.form-field {
    &__label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }

    &__marker {
        float: right;
        font-weight: normal;
        color: $dark-shade-25;
        text-transform: uppercase;
    }

    &__field {
        clear: both;
        margin-top: 5px;
    }
}
