doctype html
html
  head
    link(href='./assets/quicksand/stylesheet.css', rel='stylesheet')
    link(href='./assets/montserrat/Montserrat.css', rel='stylesheet')
    block head
  body
    a(href='/') Home
    main.content
      block content
