extends base.pug

block head
  link(href='../markup/ui-kit.css', rel='stylesheet')

block content
  div.color-types
    div.colors
      div.color-item
        span.color-pick.dark-shade-100
        div.color-title
          div.color-name Dark Shade 100%
          div.color-code #1F2041
      div.color-item
        span.color-pick.dark-shade-75
        div.color-title
          div.color-name Dark Shade 75%
          div.color-code #1F2041
      div.color-item
        span.color-pick.dark-shade-50
        div.color-title
          div.color-name Dark Shade 50%
          div.color-code #1F2041
      div.color-item
        span.color-pick.dark-shade-25
        div.color-title
          div.color-name Dark Shade 25%
          div.color-code #1F2041
      div.color-item
        span.color-pick.dark-shade-5
        div.color-title
          div.color-name Dark Shade 5%
          div.color-code #1F2041
      div.color-item
        span.color-pick.purple
        div.color-title
          div.color-name Purple
          div.color-code #BC9CFF
      div.color-item
        span.color-pick.green
        div.color-title
          div.color-name Green
          div.color-code #6FCF97

    div.types
      span.tag H1
      span.text.h1 This one is the sub-section or widget title
      span.tag H2
      span.text.h2 Next one is the item title inside widgets
      span.tag H3
      span.text.h3 This is a label or CTA text
      span.tag Body
      span.text This is the body text which is used for most of the design, like paragraphs, lists, etc.
