extends ui-kit.pug

block content
    div.colors-type
      div.colors-type__colors
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_dark-shade-100
          div.color-presenter__information
            div.color-presenter__title Dark Shade 100%
            div.color-presenter__code #1F2041
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_dark-shade-75
          div.color-presenter__information
            div.color-presenter__title Dark Shade 75%
            div.color-presenter__code #1F2041
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_dark-shade-50
          div.color-presenter__information
            div.color-presenter__title Dark Shade 50%
            div.color-presenter__code #1F2041
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_dark-shade-25
          div.color-presenter__information
            div.color-presenter__title Dark Shade 25%
            div.color-presenter__code #1F2041
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_dark-shade-5
          div.color-presenter__information
            div.color-presenter__title Dark Shade 5%
            div.color-presenter__code #1F2041
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_purple
          div.color-presenter__information
            div.color-presenter__title Purple
            div.color-presenter__code #BC9CFF
        div.color-presenter
          span.color-presenter__sample.color-presenter__sample_green
          div.color-presenter__information
            div.color-presenter__title Green
            div.color-presenter__code #6FCF97

      div.colors-type__types
        div.type-presenter
          div.type-presenter__tag.type-presenter__tag_h1 H1
          div.type-presenter__text.type-presenter__text_h1 This one is the sub-section or widget title
          div.type-presenter__tag.type-presenter__tag_h2 H2
          div.type-presenter__text.type-presenter__text_h2 Next one is the item title inside widgets
          div.type-presenter__tag.type-presenter__tag_h3 H3
          div.type-presenter__text.type-presenter__text_h3 This is a label or CTA text
          div.type-presenter__tag.type-presenter__tag_body Body
          div.type-presenter__text.type-presenter__text_body This is the body text which is used for most of the design, like paragraphs, lists, etc.
