extends base.pug

block head
  link(href='../markup/ui-kit.css', rel='stylesheet')

block content
  p Colors
  ul
    li: span.color-pick.dark-shade-100/ Dark Shade 100% #1F2041
    li: span.color-pick.dark-shade-75/ Dark Shade 75% #1F2041
    li: span.color-pick.dark-shade-50/ Dark Shade 50% #1F2041
    li: span.color-pick.dark-shade-25/ Dark Shade 25% #1F2041
    li: span.color-pick.dark-shade-5/ Dark Shade 5% #1F2041
    li: span.color-pick.purple/ Purple #BC9CFF
    li: span.color-pick.green/ Green #6FCF97
