extends ui-kit.pug

block content
  div
    div.form-elements
      div.form-section
        div.form-group
          div.form-item
            div.form-text-field
              label
                | Text Field
                span.input-marker Default
                input(type='text', placeholder='Email')
          div.form-item
            div.form-text-field.hover-focus
              label
                | Text Field
                span.input-marker Hover / Focus
              input(type='text', value='This is pretty awesome')
          div.form-item
            div.form-dropdown
              label
                | Dropdown
                span.input-marker Defualt
              select
                option(selected='true') Сколько гостей
          div.form-item
            div.form-text-field
              label
                | masked text field
                span.input-marker Defult
              input(type='text', placeholder='ДД.ММ.ГГГГ')

        div.form-group
          div.form-item
            div.form-items-horizontally
              div.form-item-horizontal
                div.from-date-dropdown
                  label date Dropdown
                  select
                    option(selected='true') ДД.ММ.ГГГГ
                div.from-date-dropdown
                  label date Dropdown
                  select
                    option(selected='true') 19.08.2019

        div.form-group
          div.form-item
            div.form-date-filter-dropdown
              label filter date dropdown
              select
                option(selected='true') 19 авг - 23 авг

        div.form-group
          div.form-item
            div.form-subscription-input
              label subscription text field
              input(type='text', placeholder='Email')

      div.form-section
        div.form-group
          div.form-item
            div.form-checkbox
              label Checkbox Buttons
              label #[input(type='checkbox')] Можно курить
              label #[input(type='checkbox', checked='true')] Можно с питомцами
              label #[input(type='checkbox', checked='true')] Можно пригласить гостей (до 10 человек)

        div.form-group
          div.form-item
            div.form-radio
              label Radio Buttons
              label #[input(type='radio', checked='true', name='sex')] Мужчина
              label #[input(type='radio', name='sex')] Женщина

        div.form-group
          div.form-item
            div.form-toggle
              label Toggle
              label #[input(type='checkbox', checked='true')] Получать спецпредложения
              label #[input(type='checkbox')] Получать спецпредложения


        div.form-group
          div.form-item
            div.form-like
              label like button
              label #[input(type='checkbox')] 2
              label #[input(type='checkbox', checked='true')] 12

        div.form-group
          div.form-item
            div.form-rate
              label rate button
              p 4#{'/'}5
              p 5#{'/'}5

      div.form-section
        div.form-group
          div.form-item
            div.form-range-slider
              label Range Slider
              div.value 5 000₽ - 10 000₽
              div.slider

        div.form-group
          div.form-item
            div.form-buttons
              label buttons
              button CLICK ME
              button CLICK ME
              button CLICK ME
              button CLICK ME
              a(href='#') CLICK ME
              a(href='#') CLICK ME
              button.long перейти к оплате

        div.form-group
          div.form-item
            div.form-pagination
              label pagination
              ul.pages
                li.current 1
                li 2
                li 3
                li ...
                li 15
                li.next next
              div.annotation 1 – 12 из 100+ вариантов аренды
