doctype html
html
  head
    link(href='./assets/quicksand/stylesheet.css', rel='stylesheet')
    link(href='./assets/montserrat/Montserrat.css', rel='stylesheet')
    link(href='../markup/ui-kit.css', rel='stylesheet')

  body.body.-form-elements
    div
      a.logo(href='/') Home
      div
