extends base.pug

block head
  style.
    body {
      font-family: 'Montserrat', sans-serif;
    }

block content
  ul

    li UI Kit
      ul
        li: a(href='./colors_types.html') Color & Types
        li: a(href='./form_elements.html') Form elements
        li: a(href='./cards.html') Cards
        li: a(href='./headers_footes.html') Headers & Footers

    li Website pages
      ul
        li: a(href='./landing_page.html') Landing page
        li: a(href='./search_room.html') Search room
        li: a(href='./room_details.html') Room details
        li: a(href='./registration.html') Registration
        li: a(href='./sign_in.html') Sign In
