extends base.pug

block content
  ul
    li: a(href='./ui_kit.html') UI Kit
    li: a(href='./landing_page.html') Landing page
    li: a(href='./search_room.html') Search room
    li: a(href='./room_details.html') Room details
    li: a(href='./registration.html') Registration
    li: a(href='./sign_in.html') Sign In
